<!DOCTYPE html>
<html lang="en">
   <head>
      <meta charset="utf-8">
      <meta http-equiv="X-UA-Compatible" content="IE=edge">
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <title>EY - Experience Lab</title>
      <!-- Global stylesheets -->
      <link href="https://fonts.googleapis.com/css?family=Roboto:400,300,100,500,700,900" rel="stylesheet" type="text/css">
      <link href="css/icons/icomoon/styles.css" rel="stylesheet" type="text/css">
      <link href="css/bootstrap.css" rel="stylesheet" type="text/css">
      <link href="css/core.css" rel="stylesheet" type="text/css">
      <link href="css/components.css" rel="stylesheet" type="text/css">
      <link href="css/colors.css" rel="stylesheet" type="text/css">
      <!-- /global stylesheets -->
      <!-- Core JS files -->
      <script type="text/javascript" src="js/plugins/loaders/pace.min.js"></script>
      <script type="text/javascript" src="js/core/libraries/jquery.min.js"></script>
      <script type="text/javascript" src="js/core/libraries/bootstrap.min.js"></script>
      <script type="text/javascript" src="js/plugins/loaders/blockui.min.js"></script>
      <script type="text/javascript" src="/js/plugins/ui/prism.min.js"></script>
      <!-- /core JS files -->
      <!-- Theme JS files -->
      <script type="text/javascript" src="js/plugins/visualization/d3/d3.min.js"></script>
      <script type="text/javascript" src="js/plugins/visualization/d3/d3_tooltip.js"></script>
      <script type="text/javascript" src="js/plugins/forms/styling/switchery.min.js"></script>
      <script type="text/javascript" src="js/plugins/forms/styling/uniform.min.js"></script>
      <script type="text/javascript" src="js/plugins/forms/selects/bootstrap_multiselect.js"></script>
      <script type="text/javascript" src="js/plugins/ui/moment/moment.min.js"></script>
      <script type="text/javascript" src="js/plugins/pickers/daterangepicker.js"></script>
      <script type="text/javascript" src="js/core/app.js"></script>
      <link href="css/style.css" rel="stylesheet" type="text/css">
      <!-- /theme JS files -->
      <script src="https://cdn.socket.io/socket.io-1.4.5.js"></script>
   </head>
   <script>
      $(function() { 
      
      function sleep(miliseconds) {
      var currentTime = new Date().getTime();
      
      while (currentTime + miliseconds >= new Date().getTime()) {
      }
      }
      
      
      
      $('#BUTTON1').on('click', function() {
        $.blockUI({ 
            message: '<p class="former">Searching for motor address using Web3</p><i class="icon-spinner4 spinner text-color-primary"></i>',
            timeout: 1000, //unblock after 2 seconds
            overlayCSS: {
                backgroundColor: '#1b2024',
                opacity: 0.8,
                zIndex: 1200,
                cursor: 'wait'
            },
            css: {
                border: 0,
                color: '#fff',
                padding: 0,
                zIndex: 1201,
                backgroundColor: 'transparent'
            }
        });
      
      });
      $('#BUTTON2').on('click', function() {
        $.blockUI({ 
            message: '<p class="former">Retrieving data using Web3</p><i class="icon-spinner4 spinner text-color-primary"></i>',
            timeout: 1000, //unblock after 2 seconds
            overlayCSS: {
                backgroundColor: '#1b2024',
                opacity: 0.8,
                zIndex: 1200,
                cursor: 'wait'
            },
      
            css: {
                border: 0,
                color: '#fff',
                padding: 0,
                zIndex: 1201,
                backgroundColor: 'transparent'
            }
        });
      });
      
      
      
      if($("#te").val()=="")
      {
      $("#BUTTON1").prop('disabled', true);
      $("#BUTTON2").prop('disabled', true);
      }
      
      
      $("#te").on('keyup',function() {
       $("#BUTTON1").prop('disabled', false);
      
      })
      
      
       var socket = io.connect("/");
      console.log(socket)
      socket.on('connection', function(){alert("Connected")});
      
      socket.on('ADRESSE', function(message) {
      sleep(000)
      
      
      
      $("#adre").text(message.ad)
      $("#BUTTON2").prop('disabled', false);
      $("#adre_a").removeClass("border-danger-800")
      $("#adre_a").removeClass("text-danger-800")
      
      $("#adre_a").addClass("border-success")
      $("#adre_a").addClass("text-success")
      
       $("#adre_i").removeClass("icon-cross2")
      $("#adre_i").addClass("icon-checkmark3")
      
      
          })
      
      
      	socket.on('E0', function(message) {
           sleep(000)
      $("#adre2").text("Callback function responded")
      $("#adre_a2").removeClass("border-danger-800")
      $("#adre_a2").removeClass("text-danger-800")
      
      $("#adre_a2").addClass("border-success")
      $("#adre_a2").addClass("text-success")
      
       $("#adre_i2").removeClass("icon-cross2")
      $("#adre_i2").addClass("icon-checkmark3")
      
      $("#notcher").css("display","none")
      	
       $("#imgmotor").attr("src","/images/Engine-Free-Download-PNG.png")
      $("#imgmotor").fadeIn()
      var info=message[0]
      
      
      $("#M1").text(info.address)
      $("#M2").text(info.blockNumber)
      $("#M3").text(info.args.description)
      $("#M4").text("19/11/2014 14:23:32")			
      
      //$("#M1").removeClass("text-muted")
      //$("#M2").removeClass("text-muted")
      //$("#M3").removeClass("text-muted")
      //$("#M4").removeClass("text-muted")
      
      $("#e0").text(JSON.stringify(message, undefined, 4));
      
      
          })
      
      	
      socket.on('E1', function(message) {
            $("#e1").text(JSON.stringify(message, undefined, 4));
          })
       
       socket.on('E2', function(message) {
            $("#e2").text(JSON.stringify(message, undefined, 4));
          })
       
        socket.on('E3', function(message) {
      console.log(message)
            $("#e3").text(JSON.stringify(message, undefined, 4));
      info=message
      thead="<thead class='text-center'><tr><th>Part</th><th>Block Hash</th><th>Address</th><th >Details</th><th class='text-center'>Block number</th><th class='text-center'>Time stamp</th></tr></thead><tbody cellspacing='15'>"
      tbody =""
      console.log(info.length)
      for(var i=0; i<info.length; i++) 
      
      { tbody=tbody+"<tr class='spacer'> "+
	  	  				  "<td>"+
      			'<span class="text-muted text-size-small">'+'Engine crankshaft'+'</span>'+
      			"</td>"+
				"<td>"+
      			'<span class="text-muted text-size-small">'+info[i].blockHash+'</span>'+
      			"</td>"+
	  				  "<td>"+
      			'<span class="text-muted text-size-small">'+info[i].address+'</span>'+
      			"</td>"+
      			"<td style=''>"+
				      			'<span class="text-muted text-size-small">'+info[i].args.change+'</span>'+

      			"</td>"+

      			"<td>"+
      			'<span class="text-muted text-size-small">'+info[i].blockNumber+'</span>'+
      			"</td>"+
      			"<td>"+
      			'<span class="text-muted text-size-small">19/11/2016 14:00</span>'+
      			"</td>"+							
      			+"</tr>" }
      			
      tbody=thead+tbody+"</tbody>"
      $("#tab1").html(tbody)
      
      console.log(tbody)
      
          })
       
       
         socket.on('E4', function(message) {
            $("#e4").text(JSON.stringify(message, undefined, 4));
          })
       
          socket.on('E5', function(message) {
            $("#e5").text(JSON.stringify(message, undefined, 4));
          })                   
      
          socket.on('E6', function(message) {
            $("#e6").text(JSON.stringify(message, undefined, 4));
          })      
      launch=function(){
      
          var ee = $("#te").val()
          console.log(ee)
           socket.emit('MOTOR_ID', ee);
       }
      launch2=function(){
      
      
           socket.emit('SOS',"OK");
       }
      
      });
       
   </script>
   <body class="pace-done bgimg">
      <!-- Main navbar -->
      <div class="navbar navbar-inverse">
         <div class="navbar-header">
            <a class="navbar-brand" href="index.html">EY - DATA EXPERIENCE LAB</a>
            <ul class="nav navbar-nav visible-xs-block">
               <li><a data-toggle="collapse" data-target="#navbar-mobile"><i class="icon-tree5"></i></a></li>
               <li><a class="sidebar-mobile-main-toggle"><i class="icon-paragraph-justify3"></i></a></li>
            </ul>
         </div>
         <div class="navbar-collapse collapse" id="navbar-mobile">
            <ul class="nav navbar-nav">
               <li><a class="sidebar-control sidebar-main-toggle hidden-xs"><i class="icon-paragraph-justify3"></i></a></li>
            </ul>
         </div>
      </div>
      <!-- Page container -->
      <div class="page-container">
         <!-- Page content -->
         <div class="page-content">
            <!-- Main sidebar -->
            <div class="sidebar sidebar-main">
               <div class="sidebar-content">
                  <!-- User menu -->
                  <!-- /user menu -->
                  <!-- Main navigation -->
                  <div class="sidebar-category sidebar-category-visible">
                     <div class="category-content no-padding">
                        <ul class="navigation navigation-main navigation-accordion">
                           <li >
                              <div class="divLogo center-block"><img class="imgLogo" src="images/Logo_Lab_EYw.png" alt=""></div>
                           </li >
                           <!-- Main -->
                           <li class="navigation-header"><span>Main</span> <i class="icon-menu" title="Home"></i></li>
                           <li class="active"><a href="index.html"><i class="icon-git-pull-request"></i> <span>Engine traceability</span></a></li>
                           <li ><a href="provider.html"><i class="icon-embed2"></i> <span>About</span></a></li>
                           <!-- /page kits -->
                        </ul>
                     </div>
                  </div>
                  <!-- /main navigation -->
               </div>
            </div>
            <!-- /main sidebar -->
            <!-- Main content -->
            <div class="content-wrapper">
               <div class="row">
                  <div class="">
                     <div class="panel panel-default">
                        <div class="panel-heading">
                           <h6 class="panel-title">Blockchain technology to enable secure traceability</h6>
                           <a class="heading-elements-toggle"><i class="icon-more"></i></a>
                        </div>
                        <div class="panel-body">
                           <div class="form-group has-feedback has-feedback-left">
                              <div class="row">
                                 <div class="col-md-6">
                                    <p class="mini_title">Motor identification </p>
                                    <p class="former"><a href="#" class="btn round btn-rounded btn-icon btn-xs">
                                       <span class="letter-icon">1</span>
                                       </a> Enter motor ID  
                                    </p>
                                    <div class="row">
                                       <div class="col-md-12">
                                          <div class="input-group">
                                             <span class="input-group-addon bg-slate-700"><i class="icon-lock2"></i></span>
                                             <input type="text" id="te" class="form-control bg-slate" placeholder="Motor ID">
                                             <span class="input-group-addon bg-slate-700"><i class="icon-help"></i></span>
                                          </div>
                                       </div>
                                       <hr>
                                    </div>
                                    <p class="former"><a href="#" class="btn round btn-rounded btn-icon btn-xs">
                                       <span class="letter-icon">2</span>
                                       </a> Check identification 
                                    </p>
                                    <div class="row">
                                       <div class="col-md-6">				
                                          <button type="submit" id="BUTTON1" onclick="launch()"  style="width:100%"  class="btn btn-primary">Launch identification on web3 <i class="icon-arrow-right14 position-right"></i></button>
                                       </div>
                                       <div class="col-md-6">
                                          <div class="media-left media-middle">
                                             <a id="adre_a" href="#" class="btn border-danger-800 text-danger-800 btn-flat btn-rounded btn-icon btn-xs"><i id="adre_i" class="icon-cross2"></i></a>
                                          </div>
                                          <div class="media-body">
                                             <a href="#" class="display-inline-block text-default text-semibold letter-icon-title">Motor address</a>
                                             <div class="text-size-small" ><span id="adre" class="text-muted">Waiting identification</span></div>
                                          </div>
                                       </div>
                                    </div>
                                    <p class="former"><a href="#" class="btn round btn-rounded btn-icon btn-xs">
                                       <span class="letter-icon">3</span>
                                       </a> Retrieve historical data 
                                    </p>
                                    <div class="input-group">
                                       <div class="row">
                                          <div class="col-md-6">	
                                             <button type="submit" id="BUTTON2" onclick="launch2()" style="width:100%" class="btn btn-primary">Retrieve past transactions <i class="icon-arrow-right14 position-right"></i></button>
                                          </div>
                                          <div class="col-md-6">
                                             <div class="media-left media-middle">
                                                <a id="adre_a2" href="#" class="btn border-danger-800 text-danger-800 btn-flat btn-rounded btn-icon btn-xs"><i id="adre_i2" class="icon-cross2"></i></a>
                                             </div>
                                             <div class="media-body">
                                                <a href="#" class="display-inline-block text-default text-semibold letter-icon-title">Data retrieved</a>
                                                <div class="text-size-small" > <span id="adre2" class="text-muted">Waiting identification</span></div>
                                             </div>
                                          </div>
                                       </div>
                                    </div>
                                 </div>
                                 <div class="col-md-6">
                                    <p class="mini_title">Motor details  </p>
                                    <div class='row' style="padding-top:40px!important">
                                       <div class="col-md-6 ">
                                          <ul class="media-list">
                                             <li class="media">
                                                <div class="media-left media-middle">
                                                   <a href="#" class="btn border-primary text-primary  btn-flat btn-rounded btn-icon btn-xs"><i class="icon-checkmark3"></i></a>
                                                </div>
                                                <div class="media-body">
                                                   <a href="#" class="display-inline-block text-default text-semibold letter-icon-title">Description
                                                   <a>
                                                      <div class="text-size-small"> <span id="M3" class='text-muted'>Waiting identification</span></div>
                                                </div>
                                             <li class="media">
                                             <div class="media-left media-middle">
                                             <a href="#" class="btn border-primary text-primary btn-flat btn-rounded btn-icon btn-xs"><i class="icon-alignment-unalign"></i></a>
                                             </div>
                                             <div class="media-body">
                                             <a href="#" class="display-inline-block text-default text-semibold letter-icon-title">Block number</a>
                                             <div class="text-size-small"> <span id="M2" class='text-muted'>Waiting identification</span></div>
                                             </div>
                                             </li>
                                             </li>
                                             <li class="media">
                                                <div class="media-left media-middle">
                                                   <a href="#" class="btn border-primary text-primary  btn-flat btn-rounded btn-icon btn-xs"><i class="icon-spinner11"></i></a>
                                                </div>
                                                <div class="media-body">
                                                   <a href="#" class="display-inline-block text-default text-semibold letter-icon-title">Time stamp</a>
                                                   <div class="text-size-small">  <span id="M4" class='text-muted'>Waiting identification</span></div>
                                                </div>
                                             </li>
                                             <li class="media">
                                                <div class="media-left media-middle">
                                                   <a href="#" class="btn border-primary text-primary  btn-flat btn-rounded btn-icon btn-xs"><i class="icon-statistics"></i></a>
                                                </div>
                                                <div class="media-body">
                                                   <a href="#" class="display-inline-block text-default text-semibold letter-icon-title">Emitter address</a>
                                                   <div class="text-size-small" ><span id="M1" class='text-muted'>Waiting identification</span></div>
                                                </div>
                                             </li>
                                          </ul>
                                       </div>
                                       <div class="col-md-6">
                                          <p class='tbd'>Motor visualization</p>
                                          <center>
                                             <i id="notcher" class="icon-spinner2 spinner text-color-primary" style="    margin-top: 80px;color: #2196f3;font-size: 40px"></i>
                                          </center>
                                          <div class="thumbnail">
                                             <div class="thumb">
                                                <img id='imgmotor' class='motorimg' style='display:none' src="" alt="">
                                                <div class="caption-overflow">
                                                   <span>
                                                   <a href="#" data-popup="lightbox" rel="gallery" class="btn border-white text-white btn-flat btn-icon btn-rounded"><i class="icon-plus3"></i></a>
                                                   <a href="#" class="btn border-white text-white btn-flat btn-icon btn-rounded ml-5"><i class="icon-link2"></i></a>
                                                   </span>
                                                </div>
                                             </div>
                                          </div>
                                       </div>
                                       <div class='row'>
                                          <div class="col-md-8 col-md-offset-2">
                                          </div>
                                       </div>
                                    </div>
                                 </div>
                              </div>
                           </div>
						   						<div class="row">
							<div class="col-md-12">
								 <p class="mini_title">Events log details </p>
								     <div >
									<center> <table id="tab1" class='table' cellspacing="40"></table></center>
							</div>
						</div>		
                        </div>
				
						
						
						
						
						
						
						
                     </div>
                  </div>
               </div>

               </div>
               <!-- /content area -->
            </div>
            <!-- /main content -->
         </div>
         <!-- /page content -->
      </div>
      <!-- /page container -->
   </body>
</html>