/*
.navbar-inverse {
    border-bottom-color: rgba(0, 0, 0, 0);
    color: #fff;
    background-color: rgba(0, 0, 0, 0.1);
}
*/
.navbar-inverse {
    border-bottom-color: rgba(0, 0, 0, 0.4);
    color: #fff;
    background-color: rgba(0, 0, 0, 0.4);
}

pre{
background-color:#000;
color:#32faf0;
font-family:"Courier New";
}

body{
color:#fff;
}

.bgimg {
    background-image: url('/images/Blur-4.jpg');
    background-size: cover;
}
/*
.sidebar {
    background-color: rgba(0,0,0,0.1);
    color: #fff;
}
*/
.sidebar {
    background-color: rgba(0,0,0,0.4);
    color: #fff;
}
.navigation > li.active > a, .navigation > li.active > a:hover, .navigation > li.active > a:focus {
    background-color: #26A69A;
    color: #fff;
}



.navigation > li.active > a, .navigation > li.active > a:hover, .navigation > li.active > a:focus {
    background-color: rgb(254, 212, 2);
    color: #fff;
}
/*
.row {
    margin-left: 10px;
    margin-right: 10px;
}
*/
.row {
    margin-left: 0px;
    margin-right: 0px;
}
.input-group {
    position: relative;
    display: table;
    border-collapse: separate;
    margin-bottom: 15px;
}

.has-feedback-left .form-control {
    padding-right: 4px!important;
     padding-left: 4px!important; 
}

.page-header-default {
    background-color: rgba(0,0,0,0);
    margin-bottom: 20px;
    -webkit-box-shadow: 0 1px 0 0 #ddd;
     box-shadow: 0 1px 0 0 #ddd; 
}

.panel-body {
    padding-bottom: 0px;
}
/*
.row {
    margin-left: 10px;
    margin-right: 10px;
}
*/
.panel {
    margin-bottom: 10px;
    border-color: rgba(0,0,0,0);
    color: #ffffff;
    background-color: rgba(0,0,0,0.4);
    min-height:1000px;
}

.panel-default > .panel-heading {
    color:  #fff;
    background-color:  rgba(0,0,0,0);
    border-color:  rgba(0,0,0,0);
}

.bg-trans{
}

.text-default, .text-default:hover, .text-default:focus {
    color: #fff !important;
}
.bg-ey{
background-color:rgb(254, 212, 2);
 }

a {
    color: #fff;
    text-decoration: none;
}

.mini_title {
    font-size: 16px;
    font-weight: 400;
    margin-bottom: 20px;
    border-bottom: 1px solid #fff;
}

.btn-primary{
    margin-bottom: 20px;
}
tr{
margin-bottom:20px!important;
}

.navigation > li.active > a, .navigation > li.active > a:hover, .navigation > li.active > a:focus {
    background-color: #2196f3;
    color: #fff;
}

.divLogo {
    width: 100%;
    height: auto;
}

.imgLogo {
    height: auto;
    width: 100%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 30px;
    margin-bottom: 50px;
}

.round{
border-color:#2196f3;
}

.former {
    font-size: 18px;
    font-weight: 800;
    color: #2196f3;
    margin-top: 10px;
}

.text-muted {
    color: #6bb4ef;
}

.thumbnail {
    display: block;
    padding: 3px;
    margin-bottom: 20px;
    line-height: 1.5384616;
  background-color: rgba(0,0,0,0);
    border: 0px solid  #2196f3;
    border-radius: 3px;
    -webkit-transition: border 0.2s ease-in-out;
    -o-transition: border 0.2s ease-in-out;
    transition: border 0.2s ease-in-out;
/*    min-height:150px;
    max-height:150px;*/
    
}

.motorimg {
    max-height: 180px;
    width: auto!important;
}

.tbd {
    text-align: center;
    font-size: 14px;
    font-weight: 400;
    margin-bottom: 20px;
    border-bottom: 1px solid #2196f3;
    color:#fff;
    width:90%
}

h6.panel-title, .h6.panel-title {
    font-size: 17px;
    color: #2196f3;
    font-weight: 800;
}

.text-muted2{
font-size:11px;
color: #6bb4ef;
}
/*
.c1{
    font-size: 12px;
    font-weight: 600;
    color: #fff;
}
.c2{
    color: #f053dd;
    
    }
.c3{
    color: #FF5722;
    
    }
.c4{
    color: #EC407A;
    
    }
.c5{
    color: #F44336;
    
    }
    */
                    
    